<%- include('nav.ejs') -%>
<div class="container-fluid mt-3" style="margin-bottom: 30vh;">
    <div class="row">
        <div class="col-2">
            <%- include("list.ejs") -%>
        </div>
        <div class="col-10">
            <div class="row px-3">
                <div class="col-3">
                    <div class="card text-center">
                        <div class="caed-body">
                            <h1>Total Iteam</h1>
                            <h3>350</h3>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card text-center">
                        <div class="caed-body">
                            <h1>Total Users</h1>
                            <h3>56</h3>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card text-center">
                        <div class="caed-body">
                            <h1>Tatal sale</h1>
                            <h3>65623</h3>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card text-center">
                        <div class="caed-body">
                            <h1>Total money</h1>
                            <h3>54522</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include("../footer.ejs") -%>