<ul class="list-group">
    <li class="list-group-item active bg-dark" aria-current="true "><a href="/admin" class="list-group-item shadow list-group-item-action">Home</a></li>
    <li class="list-group-item"  style=" background-color:rgb(239, 231, 231);"><a href="/admin/insert-product/" class="list-group-item shadow list-group-item-action">Products</a></li>
    <li class="list-group-item"  style=" background-color:rgba(239, 231, 231);"><a href="" class="list-group-item shadow list-group-item-action">Users</a></li>
    <li class="list-group-item"  style=" background-color:rgba(239, 231, 231);"><a href="" class="list-group-item shadow list-group-item-action">Orders</a></li>
    <li class="list-group-item"  style=" background-color:rgba(239, 231, 231);"><a href="" class="list-group-item shadow list-group-item-action">Return orders</a></li>
  </ul>