<%- include('nav.ejs') -%>
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <div class="mb-4 border border-2 shadow shadow-5 p-3">
                <h4 class="font-weight-semi-bold mb-4  text-decoration-underline ">Billing Address</h4>
                <form action="/checkout" method="post">
                    <div class="row">
                        <div class="col-md-6 mb-3 form-group">
                            <label>First Name</label>
                            <input class="form-control" name="user_name" type="text" placeholder="Ayush">
                        </div>
                        <div class="col-md-6 mb-3 form-group">
                            <label>Last Name</label>
                            <input class="form-control" name="user_last_name" type="text" placeholder="Jha">
                        </div>
                        <div class="col-md-6 mb-3 form-group">
                            <label>E-mail</label>
                            <input class="form-control" type="text" name="user_email" placeholder="example@email.com">
                        </div>
                        <div class="col-md-6 mb-3 form-group">
                            <label>Mobile No</label>
                            <input class="form-control" name="user_contact" type="text" placeholder="+123 456 789">
                        </div>
                        <div class="col-md-6 mb-3 form-group">
                            <label>Address Line 1</label>
                            <input class="form-control" type="text" name="user_address1" placeholder="123 Street">
                        </div>
                        <div class="col-md-6 mb-3 form-group">
                            <label>Address Line 2</label>
                            <input class="form-control" type="text" name="user_address2" placeholder="123 Street">
                        </div>
                        <div class="col-md-6 mb-3 form-group">
                            <label>Country</label>
                            <select class="custom-select form-control" name="country">
                                <option selected>India</option>
                                <option>United States</option>
                                <option>Afghanistan</option>
                                <option>Albania</option>
                                <option>Napal</option>
                                <option>Srilanka</option>
                                <option>Algeria</option>
                            </select>
                        </div>
                        <div class="col-md-6 mb-3 form-group">
                            <label>City</label>
                            <input class="form-control" name="user_city" type="text" placeholder="Purnea">
                        </div>
                        <div class="col-md-6 mb-3 form-group">
                            <label>State</label>
                            <select class="custom-select form-control" name="user_state">
                                <option value="Andhra Pradesh">Andhra Pradesh</option>
                                <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                <option value="Assam">Assam</option>
                                <option value="Bihar">Bihar</option>
                                <option value="Chhattisgarh">Chhattisgarh </option>
                                <option value="Goa">Goa </option>
                                <option value="Gujarat">Gujarat </option>
                                <option value="Haryana"> Haryana</option>
                                <option value="Himachal Pradesh">Himachal Pradesh </option>
                                <option value="Jharkhand">Jharkhand </option>
                                <option value="Karnataka">Karnataka </option>
                                <option value="Kerala"> Kerala</option>
                                <option value="Madhya pradesh">Madhya pradesh</option>
                                <option value="Maharashta">Maharashta </option>
                                <option value="Manipur">Manipur </option>
                                <option value="Mizoram">Mizoram </option>
                                <option value="Nagaland">Nagaland </option>
                                <option value="Odisha">Odisha </option>
                                <option value="Punjab">Punjab</option>
                                <option value="Rajasthan">Rajasthan </option>
                                <option value="Sikkim"> Sikkim</option>
                                <option value="Tamil Nadu">Tamil Nadu </option>
                                <option value="Telangana">Telangana</option>
                                <option value="Tripura">Tripura</option>
                                <option value="Uttara Pradesh">Uttara Pradesh </option>
                                <option value="Uttrakhand">Uttrakhand</option>
                                <option value="West Bengal">West Bengal </option>
                            </select>
                         </div>
                        <div class="col-md-6 mb-3 form-group">
                            <label>pin Code</label>
                            <input class="form-control" name="user_pin" type="text" placeholder="123">
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="newaccount">
                                <label class="custom-control-label" for="newaccount">Create an account</label>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="shipto">
                                <label class="custom-control-label" for="shipto" data-toggle="collapse"
                                    data-target="#shipping-address">Ship to different address</label>
                            </div>
                        </div>
                        <div class="col-md- form-group">
                            <button class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Place
                                Order</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Order Total</h4>
                </div>
                <div class="card-body">
                    <h5 class="font-weight-medium mb-3">Products</h5>
                    <div class="d-flex justify-content-between">
                        <p>Colorful Stylish Shirt 1</p>
                        <p>$150</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p>Colorful Stylish Shirt 2</p>
                        <p>$150</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p>Colorful Stylish Shirt 3</p>
                        <p>$150</p>
                    </div>
                    <hr class="mt-0">
                    <div class="d-flex justify-content-between mb-3 pt-1">
                        <h6 class="font-weight-medium">Subtotal</h6>
                        <h6 class="font-weight-medium">$150</h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Shipping</h6>
                        <h6 class="font-weight-medium">$10</h6>
                    </div>
                </div>
                <div class="card-footer border-secondary bg-transparent">
                    <div class="d-flex justify-content-between mt-2">
                        <h5 class="font-weight-bold">Total</h5>
                        <h5 class="font-weight-bold">$160</h5>
                    </div>
                </div>
            </div>
            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Payment</h4>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="payment" id="paypal">
                            <label class="custom-control-label" for="paypal">Paypal</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="payment" id="directcheck">
                            <label class="custom-control-label" for="directcheck">Direct Check</label>
                        </div>
                    </div>
                    <div class="">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="payment" id="banktransfer">
                            <label class="custom-control-label" for="banktransfer">Bank Transfer</label>
                        </div>
                    </div>
                </div>
                <div class="card-footer border-secondary bg-transparent">
                    <button class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Place Order</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Footer Start -->
<%- include('footer.ejs') -%>
<!-- Footer End -->


<!-- Back to Top -->


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Contact Javascript File -->
<script src="mail/jqBootstrapValidation.min.js"></script>
<script src="mail/contact.js"></script>

<!-- Template Javascript -->
<script src="./js/main.js"></script>