<div class="container-fluid">
    <div class="row text-light" style=" background: linear-gradient(to right, #141e30, #243b55) !important">
        <h4 class="text-center mb-5 mt-3 text-decoration-underline">Purnea Ka Bazar</h4>
        <div class="col-3 mx-auto my-auto">
            <div class="col my-auto">
                <p class="fs-5">Quick link</p>
                <p class="fw-light">Home</p>
                <p class="fw-light">About</p>
                <p class="fw-light">Project</p>
                <p class="fw-light">Workshop</p>
                <p class="fw-light">Hire us</p>
            </div>
        </div>
        <div class="col-3 mx-auto my-auto">
            <p class="fs-5">About Class</p>
            <p class="fw-light">About Instructor</p>
            <p class="fw-light">MileStones</p>
            <p class="fw-light">Community</p>
            <p class="fw-light">Our Tea,</p>
        </div>
        <div class="col-3 mx-auto my-auto">
            <p class="fs-5">Navalal chowk, Near Nh-31</p>
            <p class="fw-light">mahavear Chowk, panchyat bhavan, Purnea - 854301</p>
            <p class="fw-light">+91 91 1768 5337</p>
            <p class="fw-light">www.ayush91176@gmail.com</p>
        </div>

        <p class="fw-light text-center">© Code with NeO, All rights reserved</p>
        <a href="#" class="btn btn-primary border-2 small p-2 back-to-top"
            style="color: #fff;border-color: #17a2b8;border-radius: 45px;background-color: #00394f;display: inline;"><i
                class="bi bi-chevron-double-up"></i></a>
    </div>
</div>